{% extends 'learning_logs/base.html' %}

{% block header %}
    <h2>主题</h2>
{% endblock header %}

{% block content %}
    <div class='container'>
    <ul>
        {% for topic in topics %}
            <li>
                <h3>
                    <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
                </h3>
            </li>
        {% empty %}
            <li>目前还没有主题...</li>
        {% endfor %}
    </ul>
    <h6>.</h6>
    <h3>
        <a href="{% url 'learning_logs:new_topic' %}">添加主题</a>
    </h3>
</div>

{% endblock content %}
