{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
    <h4>请登陆你的账号！</h4>
{% endblock header %}

{% block content %}

    <form class='container' action="{% url 'users:login' %}" method='post'>

        <div class="col-md-6">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button name='submit' class='btn btn-primary'>登陆</button>
            {% endbuttons %}
        </div>

        <input type='hidden' name='next' value="{% url 'learning_logs:index' %}"/>
    </form>
    
{% endblock content %}
